<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bicutanbites">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bicutan Bites"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BicutanBites">

        <!-- Login screen as launcher -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Create Account screen -->
        <activity android:name=".CreateAccountActivity" />

        <!-- Main screen -->
        <activity android:name=".HomeActivity" />

        <!-- Edit Profile screen -->
        <activity android:name=".EditProfileActivity" />

        <!-- Checkout screen -->
        <activity android:name=".CheckoutActivity" />

    </application>

</manifest>
